.contact {
    background-image: url("../../src/assets/francesca-tirico-dXEfc5pa5nE-unsplash.jpg");
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact_image {
    text-align: center;
}
.contact_title {
    text-align: center;
}
.contact_title h3 {
    font-size: 2.5rem;
    color: #00a4f0;
}
.contact_title h2 {
    font-size: 3.5rem;
    color: aliceblue;
}
.contact_btn{
    border: 1px solid #00a4f0;
    font-size: 1.1rem;
    padding: 0.9rem 3.5rem;
    background-color: aliceblue;
    color: #00a4f0;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    transition: ease-in-out 0.5s;
    margin-top: 2rem;
}
.contact_btn:hover{
    background: #00a4f0;
    transition: ease-in-out 0.5s;
    color: aliceblue;
  }

  .contact_cards {
    position: absolute;
    top: 85%;
    left:5%;
    display: flex;
    color: #00a4f0;
  }

.card {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    box-shadow: 0px 0px 5px #dfdfdf;
    border-radius: 25px;
    background-color: aliceblue;
    margin-right: 1rem;
}
.circle_phone {
    background-color: rgb(231, 231, 231);
    height: 80px;
    text-align: center;
    width: 80px;
    border-radius: 50%;
}
.contact_icons {
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
}
.card  h3 {
    font-size: 1.5rem;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card  p{
    font-size: 1rem;
}

@media(max-width:1024px){
    .contact_cards {
        position: absolute;
        top: 65%;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 450px;
        height: 180px;
        background-color: aliceblue;
        margin-right: 0rem;
        margin-top: 2rem;
        margin-left: 15rem;
    }
    .circle_phone {
        height: 70px;
        text-align: center;
        width: 70px;
        border-radius: 50%;
        
    }
    .contact_icons {
        font-size: 2rem;
        padding: 1.1rem 0rem;
    }
}
@media(max-width:986px){
    .contact_cards {
        position: absolute;
        top: 70%;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 450px;
        height: 180px;
        background-color: aliceblue;
        margin-right: 0rem;
        margin-top: 1rem;
    }
    .circle_phone {
        height: 70px;
        text-align: center;
        width: 70px;
        border-radius: 50%;
        
    }
    .contact_icons {
        font-size: 2rem;
        padding: 1.1rem 0rem;
    }
}

@media(max-width:898px){
    .contact_cards {
        position: absolute;
        top: 70%;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 450px;
        height: 180px;
        background-color: aliceblue;
        margin-right: 0rem;
        margin-top: 1rem;
        margin-left: 8rem;
    }
}
@media(max-width:786px){
    .contact_cards {
        position: absolute;
        top: 75%;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 550px;
        height: 170px;
        background-color: aliceblue;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .circle_phone {
        height: 70px;
        text-align: center;
        width: 70px;
        
    }
    .contact_icons {
        font-size: 2rem;
        padding: 1.1rem 0rem;
    }
    .contact_image {
        text-align: center;
        position: absolute;
        top: 20%;
    }
    .contact_title {
        text-align: center;
        margin-left: -15rem;
    }
    .contact_title h3 {
        font-size: 2rem;
        color: #00a4f0;
    }
    .contact_title h2 {
        font-size: 3rem;
        color: aliceblue;
    }
    .contact_btn{
        margin-left: -15rem;
    }
}
@media(max-width:656px){
    .contact_cards {
        position: absolute;
        top: 75%;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 530px;
        height: 170px;
        background-color: aliceblue;
        margin-left: -0rem;
        margin-top: 1rem;
    }
    .circle_phone {
        height: 70px;
        text-align: center;
        width: 70px;
        
    }
    .contact_icons {
        font-size: 2rem;
        padding: 1.1rem 0rem;
    }
    .contact_image {
        text-align: center;
        position: absolute;
        top: 20%;
    }
    .contact_title {
        text-align: center;
        margin-left: -15rem;
    }
    .contact_title h3 {
        font-size: 2rem;
        color: #00a4f0;
    }
    .contact_title h2 {
        font-size: 3rem;
        color: aliceblue;
    }
    .contact_btn{
        margin-left: -15rem;
    }
}

@media(max-width:578px){
    .contact_cards {
        position: absolute;
        top: 70%;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 400px;
        height: 180px;
        margin-right: 0rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .circle_phone {
        height: 70px;
        width: 70px;
        
    }
    .contact_icons {
        font-size: 2rem;
        padding: 1.1rem 0rem;
    }
    .contact_image {
        text-align: center;
        position: absolute;
        top: 15%;
    }
    .contact_title{
        margin-left: -10rem;
    }
    .contact_title h3 {
        font-size: 2rem;
        color: #00a4f0;
    }
    .contact_title h2 {
        font-size: 2.5rem;
        color: aliceblue;
    }
    .contact_btn{
        font-size: 1rem;
        padding: 0.9rem 3rem;
        margin-top: 1rem;
        margin-left: -12rem;
    }
    .contact_title{
        margin-left: -12rem;
    }
}
@media(max-width:490px){
    .contact_cards {
        position: absolute;
        top: 60%;
      }
     
    .card {
        width: 375px;
        height: 180px;
        margin-right: 0rem;
        margin: 1rem 0rem;
    }
    .circle_phone {
        height: 70px;
        width: 70px;
        
    }
    .contact_icons {
        font-size: 2rem;
        padding: 1.1rem 0rem;
    }
    .contact_image {
        text-align: center;
        position: absolute;
        top: 15%;
    }
    .contact_title{
        margin-left: 10rem;
    }
    .contact_title h3 {
        font-size: 2rem;
        color: #00a4f0;
    }
    .contact_title h2 {
        font-size: 2.5rem;
        color: aliceblue;
    }
    .contact_btn{
        font-size: 1rem;
        padding: 0.9rem 3rem;
        margin-top: 1rem;
        margin-left: -12rem;
    }
    .contact_title{
        margin-left: -12rem;
    }
}
@media(max-width:392px){
    .contact_cards {
        position: absolute;
        top: 75%;;
      }
      .card {
        width: 350px;
        height: 150px;
        background-color: aliceblue;
        margin-right: 0rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .contact_title h3 {
        font-size: 2.5rem;
        color: #00a4f0;
    }
    .circle_phone {
        height: 65px;
        width: 65px;
        
    }
    .contact_title{
        margin-left: -12rem;
    }
    .contact_btn{
        font-size: 1rem;
        padding: 0.8rem 3rem;
        margin-top: 2rem;
        margin-left: -12rem;
    }
    }
@media(max-width:376px){
    .contact_cards {
        position: absolute;
        top: 65%;
        left: 0;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 350px;
        height: 155px;
        background-color: aliceblue;
        margin: 0rem 0.1rem;
        margin-top: 1rem;
    }
    .circle_phone {
        height: 50px;
        width: 50px;
        
    }
    .contact_icons {
        font-size: 1.5rem;
        padding: 0.8rem 0rem;
    }
    .contact_image {
        text-align: center;
        position: absolute;
        top: 10%;
    }
    .contact_title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -10rem;
    }
    .contact_title h3 {
        font-size: 1.5rem;
        color: #00a4f0;
    }
    .contact_title h2 {
        font-size: 2.5rem;
        color: aliceblue;
    }
    .contact_btn{
        border: 1px solid #00a4f0;
        font-size: 1rem;
        padding: 0.8rem 2rem;
        margin-top: 2rem;
        margin-left: -10rem;
    }
    .card  h3 {
        font-size: 1.3rem;
    }
}

@media(max-width:356px){
    .contact_cards {
        position: absolute;
        top: 65%;
        left: 0;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 335px;
        height: 160px;
        background-color: aliceblue;
        margin-right: 0rem;
        margin-top: 1rem;
    }
    .circle_phone {
        height: 50px;
        width: 50px;
        
    }
    .contact_icons {
        font-size: 1.5rem;
        padding: 0.8rem 0rem;
    }
    .contact_image {
        text-align: center;
        position: absolute;
        top: 10%;
    }
    .contact_title h3 {
        font-size: 2rem;
        color: #00a4f0;
    }
    .contact_title h2 {
        font-size: 2.5rem;
        color: aliceblue;
    }
    .contact_btn{
        border: 1px solid #00a4f0;
        font-size: 1rem;
        padding: 0.8rem 3rem;
        margin-top: 2rem;
    }
    .card  h3 {
        font-size: 1.3rem;
    }
}

@media(max-width:336px){
    .contact_cards {
        position: absolute;
        top: 65%;
        left: 0;
        display: flex;
        flex-direction: column;
      }
     
    .card {
        width: 320px;
        height: 150px;
        background-color: aliceblue;
        margin-right: 0rem;
        margin-left: 0.1rem;
        margin-top: 1rem;
    }
    .circle_phone {
        height: 50px;
        width: 50px;
        
    }
    .contact_icons {
        font-size: 1.5rem;
        padding: 0.8rem 0rem;
    }
    .contact_image {
        text-align: center;
        position: absolute;
        top: 10%;
    }
    .contact_title h2 {
        font-size: 2.5rem;
        color: aliceblue;
    }
    .contact_btn{
        border: 1px solid #00a4f0;
        font-size: 1rem;
        padding: 0.8rem 3rem;
        margin-top: 2rem;
    }
}